# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
media/

# Environment variables
.env

# Node / React
node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db
